body {
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(
      to right top,
      #ff3434,
      #fe2c2c,
      #fc2423,
      #fa1a18,
      #f80b0b
    ); */
    background-color: #ff3434;
    /* #F44336 fall color*/
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat!important;
  }
  
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 500px;
    flex-wrap: wrap;
  }


.movienav {
  width: auto;
  display: flex;
  align-items: center;
  min-height: auto;
  justify-content: center;
  flex-wrap: wrap;
}  

.movienav .list {
  list-style-type: none;
  padding: 0 20px;
  align-self: center;
}
.movienav .list a {
  color: white;
  font-weight: 600;
}
  span {
    display: none;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 500px;
  }
  
  .moviebox {
    width: 220px;
    place-items: center;
    place-content: center;
    display: flex;
    margin: 20px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: transparent;
    min-height: 300px;
  }
  
  .fetchimg {
    width: 400px;
    place-items: center;
    place-content: center;
    filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));

    display: flex;
    cursor: pointer;
  object-position: center;
    max-width: 100%;
    background-color: white;
    min-height: 300px;
  }
  
  .fetchimg:hover {
    transform: scale(1.1, 1.1);
    transition: all ease-in-out 0.5s;
  }
  
  h3 {
    padding: 10px;
  }
  
  .overlay {
    width: 250px;
    place-items: start;
    place-content: center;
    display: flex;
    color: black;
    font-weight: normal;
    background-color: white;
    flex-direction: column;
    min-height: 380px;
  }
  
  .overlay p {
    padding: 10px;
  }
  header {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo {
    width: auto;
    min-height:auto;
    display: flex;
    padding: 0 20px;
    font-weight: bold;
    align-items:center;
    justify-content: center;;
    text-align:center;
  }
   .logo i {
    color: #141213;
;
align-self: center;
text-align: center;
display: flex;
font-size: 14px;
width: 40px;
min-height: 40px;
align-items: center;
justify-content: center;
    background-color:white;
    margin:  0 10px;
    border-radius:50px;

  }
  .header__row {
    width: 100%;
    min-height: 100px;
    max-width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  
  input {
    padding: 10px 20px;
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  h4 {
    font-size: 15px;
    color: #fff;
    min-height: 30px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
 
  .sub {
    padding: 0!important;
    color:black;
    margin: 0;
    font-weight: normal;
  }

  b {
    color:#ff3434;
  }
.title {
  color:black;
  font-family: "Roboto", sans-serif;
padding: 20px 0;
  text-align:center;
  width: 100%;
}  

  a {
    color: white;
    text-decoration: none;
  }
  .datarow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    text-align: center;
  
    flex-wrap: wrap;
  }
  .text5 {
    color: white;
  }
.info {
  color: white;
  padding: 10px 0;
}
footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.footer__row {
  width: 100%;
  min-height: 100px;
  display: flex;
  max-width: 90%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}


.footer__row h3 {
  color: white;
  padding: 20px 0;
  font-size: 17px;
  margin: 0;
}




  @media (max-width:700px) {
.header__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 0;

}

.movienav {
  flex-basis: 50%;
  display: flex;

}
.logo{
  padding: 0;
}

.movienav .list {
  padding: 5px;
  
}

input {
  align-self: center;
  flex-basis: 300px;
  margin:  20px;
}
form {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  }


